/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.5em;
}
p {font-weight: 400;}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5em;
}
a {
    transition: 0.5s;
    text-decoration: none;
}

/* Top header area */
.top-header-area {
    padding-top: 18px;
    padding-bottom: 20px;
    background-color: #a88c95;
    margin-right: auto;
    position: relative;
}
.top-header-area .inner-header-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.top-header-area .social-links {
    width: 50%;
}
.top-header-area .social-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    display: flex;
}
.top-header-area .social-links ul li {
    margin-right: 10px;
}
.top-header-area .social-links .rwd-box {
    display: none;
}
.top-header-area .social-links ul li a {
    background-color: #cbc7c9;
    color: #6d3648;
    width: 34px;
    height: 34px;
    display: block;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
}
.top-header-area .social-links ul li a:hover {
    background-color: #ee802f;
    color: #fff;
}
.top-header-area .search-area {
    width: 300px;
    display: flex;
}
.top-header-area .search-area form {
    width: 100%;
    display: flex;
}
.top-header-area .search-area input[type='text'] {
    background-color: #fff;
    padding: 10px; border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    font-weight:400;
    width: 70%;
    margin: 0;
}
.top-header-area .search-area input[type='submit'] {
    background-color: #97455f;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 30%;
    transition: 0.5s;
}
.top-header-area .search-area input[type='submit']:hover {
    background-color: #6a3144;
    color: #fff;
}

/* NAVBAR area */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #97455f;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}
.navbar li {
    display: inline-block;
    height: 50px;
}
.navbar li a {
    padding: 14px 13px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    display: inline-block;
}
.navbar li:hover {background-color: #6a3144;}
.navbar .drop-down {
    position: relative;
    display: inline-block;
}
.navbar .drop-down-content {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 20;
    width: calc(100% + 30px);
    text-align: left;
    background-color: #97455f;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}
.drop-down:hover .drop-down-content {
    display: flex;
    flex-direction: column;
}
.navbar .drop-down-content a:hover {background-color: #6a3144;}
#closeNav {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 90%;
    display: none;
    cursor: pointer;
}

/* Swiper area */
.swiper .swiper-wrapper img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
body > div > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal > span/* :nth-child(2) */ {
    width: 20px;
    border-radius: 2px;
}
body > div > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal > span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #007aff;
    border: 2px solid #ffffffad;
}

/* Middle sections ===> intro */
.intro {
    display: flex;
    justify-content: center;
    width: 73%;
    margin: 50px auto;
    color: #333;
}
.intro article {
    width: 50%;
}
.intro article h3 {
    margin: 0 auto 20px auto;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.intro article p {
    width: 90%;
    font-size: 1.12rem;
    text-justify: distribute;
}
.intro article button {
    padding: 15px 25px;
    margin-top: 50px;
    border: none;
    color: #fff;
    background-color: #6a3144;
    font-weight: 500;
}
.intro img {
    width: 50%;
    object-fit: cover;
}

/* Middle sections ===> services */
.services {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 85px 0;
}
.services h2 {
    color: #6a3144;
    font-size: 3rem;
    font-weight: 400;
}
.services .description {
    width: 70%;
    text-align: center;
    color: #333;
    font-size: 1.12rem;
    margin-bottom: 20px;
    padding: 0 10px;
}
.services .cards {
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.cards .card {
    width: 390px;
    padding: 135px 70px 100px 115px;
    background-color: transparent;
    position: relative;
    transition: .3s;
}
.card:hover {
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
}
.card h4 {
    color: #523827;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-bottom: 40px;
    text-transform: uppercase;
    z-index: 1;
}
.card .card-text {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 75px; /* Fallback for non-webkit, line-height * 2 */
    line-height: 25px;
    -webkit-line-clamp: 3; /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    margin: 0;
}
.cards .back-text {
    font-size: 7rem;
    color: #52382738;
    position: absolute;
    top: 95px;
    left: 40px;
    font-weight: bolder;
    margin: 0;
}
 /* Footer */
footer {
    position: relative;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 70px;
    text-align: center; 
}
footer h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1rem;
    letter-spacing: -3px;
}
footer form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    width: 57%;
    margin: 50px auto 0 auto;
}
footer form input, textarea {
    width: 49%;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #fff;
    color: #565757;
    font-size: 1.12rem;
    font-weight: 600;
}
footer form textarea {
    width: 100%;
    max-height: 125px;
    resize: none;
    overflow: auto;
}
footer form input[type="submit"] {
    background-color: #97455f;
    color: #fff;
    padding: 20px auto;
    font-size: 1.2rem;
    margin: 20px 0 0 0;
    width: 255px;
    border-radius: 20px;
    font-weight: 400;
}
footer img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* make responsive */
@media screen and (max-width: 1070px) {
    .services .card {
        padding: 17% 9% 13% 15%;
        width: 50%;
    }
    .cards .back-text {
        top: 10%;
        left: 5%;
        font-size: 5rem;
    }
}
@media screen and (max-width: 725px){
    .top-header-area .social-links .rwd-box {
        display: flex;
    }
    .top-header-area .social-links #social-icons {
        display: none;
        position: absolute;
        top: 54px;
        left: 34px;
        z-index: 2;
        background-color: #97455f;
        padding: 10px 0 10px 10px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    }
    .navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: left;
        width: 40%;
        z-index: 2;
        transition: all .8s;
        padding: 5px 0;
        font-size: .6rem;
    }
    .navbar li {
        width: 100%;
        transition: .8s;
    }
    .navbar li:hover{background-color: #6a3144;}
    .navbar .drop-down-content {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        width: 70%;
        background-color: #97455f;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    }
    #closeNav {
        top: 10px;
        left: 90%;
        display: inline;
    }
    .top-header-area .search-area input[type='text'], input[type='submit'] {
        font-size: 10px;
    }
    .top-header-area .search-area input[type='submit'] {
        font-size: 10px;
    }
    .intro {
        display: block;
    }
    .intro article {
        width: 100%;
    }
    .intro img {
        display: none;
    }
    footer form input, textarea {
        font-size: .7rem;
        padding: 10px 5px;
        margin: 7px 0;
    }
}


@media screen and (max-width: 550px) {
    .services .cards {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .services .cards .card {
        width: 70%;
        padding: 17% 9% 13% 15%;
    }
    .cards .back-text {
        top: 10%;
        left: 5%;
        font-size: 3rem;
    }
}
